<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>Gmail</string>
    <key>CFBundleIdentifier</key>
    <string>com.pezy.gmail</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Gmail</string>
    <key>CFBundleDisplayName</key>
    <string>Gmail</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0-beta</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2026 pezy. MIT Licensed.</string>
    <key>OAuthClientID</key>
    <string>__OAUTH_CLIENT_ID__</string>
    <key>OAuthClientSecret</key>
    <string>__OAUTH_CLIENT_SECRET__</string>
    <key>OAuthRedirectURLScheme</key>
    <string>com.googleusercontent.apps.__OAUTH_REVERSED_ID__</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>com.pezy.gmail.oauth</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.__OAUTH_REVERSED_ID__</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
